* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff4e4 url('bck1.jpg');
  color: #4a2a2a;
}

/* HEADER */
header {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffffcc;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #e2c6a8;
}

header .logo {
  font-size: 26px;
  font-weight: bold;
  color: #5a2a00;
}

header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #5a2a00;
  font-weight: 600;
}

/* HERO */
.hero {
  margin-top: 90px;
  min-height: 90vh;
  padding: 40px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(135deg, #cc6633, #d97842);
  color: white;
  border-radius: 0 0 40px 40px;
  position: relative;
  overflow: hidden;
}

.hero .text {
  max-width: 550px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 25px;
  background: #ffe8c6;
  color: #5a2a00;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

.hero-img img {
  width: 320px;
  animation: float 3s infinite ease-in-out;
}



/* MENU SECTION */
.menu-section {
  text-align: center;
  padding: 70px 40px;
}

.menu-section h2 {
  font-size: 36px;
  color: #5a2a00;
}

.menu-section .sub {
  margin-top: 8px;
  font-size: 18px;
  color: #7a4a28;
}

.menu-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.menu-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.menu-card img {
  width: 160px;
  margin-bottom: 15px;
}

.menu-card h3 {
  color: #5a2a00;
  font-size: 22px;
  margin-bottom: 10px;
}

.menu-card p {
  font-size: 15px;
  color: #6b4a3a;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
  color: #cc6633;
  font-size: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  margin-top: 40px;
  background: #5a2a00;
  color: white;
  border-radius: 20px 20px 0 0;
}
